/*  common.css - borrow from Redmine and MoinMoin */

/* content styles */
html,body{min-height:100%;}
body{font-size:12px;font-style:normal;color:#4e4e4e;font-family: Verdana, sans-serif; padding: 0;}

/* body with background color */
body {
  text-align:center; /* for IE */
  margin:12px auto; /* for the rest */
  background:#39424b;
}

/* content: align center with fixed width */
div.page
{
  text-align:left;
  width:780px; /* or a percentage, or whatever */
  margin:0 auto 0 auto;
  padding:1em;
  background:#ffffff;
  min-height:500px;
  height:auto !important;
  height:500px; 
}

/* header and footer: align center with fixed width */
div.header, div.footer
{
  width:780px; /* or a percentage, or whatever */
  margin:0 auto 0 auto;
  padding:1em;
}

div.header {color:#F8F8F8;background-color:#507AAA;text-align:right;font-size:9pt;position:relative;}

div.footer {background-color:#FFFFBB;text-align:right;font-size:9pt;font-style:italic;}

div.footer {text-align:center;}
hr.header, hr.footer {color:#b4aca1;background-color:#b4aca1;border-bottom:1px solid #ffffff;}

.footer a,a:hover,a:link,a:active {color:#0071bb;text-decoration:none;}

/* headings */
h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif;}
h1 {margin:0; padding:0; font-size: 24px;}
h2, .wiki h1 {font-size: 20px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h3, .wiki h2 {font-size: 16px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h4, .wiki h3 {font-size: 13px;padding: 2px 10px 1px 0px;margin-bottom: 5px; border-bottom: 1px dotted #bbbbbb; color: #444;}

/* menu */
#menu {position: absolute;  bottom: 0px;  left:6px; margin-right: -200px;}
#menu ul {margin: 0;  padding: 0;}
#menu li {
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
}
#menu li a:hover {background:#759FCF; color:#fff;}
#menu li a.selected, #menu li a.selected:hover {background:#fff; color:#555;}

#profile {position: absolute;  bottom: 0px;  right:6px;}
#profile ul {margin: 0;  padding: 0;}
#profile li {
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#profile li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
}
#profile li a:hover {background:#759FCF; color:#fff;}
#profile li a.selected, #profile li a.selected:hover {background:#fff; color:#555;}


/* Links */
a{color:#0071bb;outline:none;}
a:hover{color:#ed1e24;text-decoration:none;}
a,a:link,a:active {text-decoration:none;}

li p {
	margin: .25em 0;
}

li.gap {
    margin-top: 0.5em;
}

dt {
    margin-top: 0.5em;
    font-weight: bold;
}

dd {
    margin-top: 0;
    margin-bottom: 0;
}

dd p {
    margin: 0.25em 0;
}
   
a, img, img.drawing {
	border: 0;
}

pre {
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	padding: 5pt;
	font-family: "Courier New", courier, monospace;
	white-space: pre;
	/* begin css 3 or browser specific rules - do not remove!
	see: http://forums.techguy.org/archive/index.php/t-249849.html */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
  /* end css 3 or browser specific rules */
}

pre.comment {
    background-color: #CCCCCC;
    color: red;
    padding: 0;
    margin: 0;
    border: 0;
}

pre.comment:before {
    content: url(../img/attention.png);
}


/* .comment css definition must be top of .red/.green/.blue or it won't work */
.comment { color: #555555; background-color: #DDDDFF; }

.red { background-color: #FFCCCC; }
.green { background-color: #CCFFCC; }
.blue { background-color: #CCCCFF; }
.yellow { background-color: #FFF29F; }
.orange { background-color: #FFD59B; }

.solid { border: 2px solid #000000; padding: 2px; }
.dashed { border: 2px dashed #000000; padding: 2px; }
.dotted { border: 2px dotted #000000; padding: 2px; }

table
{
	margin: 0.5em 0 0 0.5em;
	border-collapse: collapse;
}


th, td
{
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: 1pt solid #ADB9CC;
  font-size:12px; 
}

th { font-weight:bold; font-size:13px; }

td p {
	margin: 0;
	padding: 0;
}

table.borderless, table.hidden {
	margin: 0.5em 0 0 0.5em;
	border:  0px;
	border-collapse: collapse;
}

table.borderless th, table.hidden th, table.borderless td, table.hidden td {
	border: 0px;
}

th.left-through, td.left-through  { border-style: solid solid solid none; }
th.right-through,td.right-through { border-style: solid none solid solid; }
td.name,td.datetime { white-space:nowrap; }

table.list th, table.logs th { background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.logs td { font-size:9pt; }

table.list { border: 0px; border-collapse: collapse; margin-bottom: 4px; font-size:12px; }
table.list th { border: 5px solid #FFFFFF; background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list th.hide { border: 0px; background-color:transparent; padding: 4px; }
table.list td { border: 0px; vertical-align: top; }
table.list td.button { text-align: center; vertical-align: middle; }
table.list td.left { text-align: left;}
table.list td.right { text-align: right;}
td.plugin-desc { font-size: 9pt; background: #c0ffc0; }
div#hook_setting_form_contents { font-size: 9pt; background: #c0ffc0; padding: 0.5em; margin: 0.5em; }

select.select-col1 { width: 300px; }
select.select-col2 { width: 300px; }

select.select-repos, select.select-role, select.select-mod, select.select-plugin, select.select-fix1 { padding: 0.2em 0.5em 0.2em 0.5em; margin: 5px; }
select.select-repos { width: 200px; }
select.select-role { width: 200px; }
select.select-mod { width: 200px; }
select.select-plugin { width: 450px; }
select.select-fix1 { width: 180px; }

input.input-fix1, input.input-fix2, input.input-repos, input.input-role { padding: 0.2em 0.5em 0.2em 0.5em; margin: 0.2em 0.2em 0.2em 0.2em; }
input.input-fix1 { width: 120px; }
input.input-fix2 { width: 200px; }
input.input-repos{ width: 200px; }
input.input-role { width: 180px; }
input.input-button { text-align: center; vertical-align: middle; margin:0.2em; padding: 0.1em 0.5em 0.1em 0.5em; font-size: 16px; }

span.title { font-weight: bold; font-size: 13px; }

/* standard rule ---- */
hr{ width: 100%; margin: 0 auto; height: 1px; background: #ccc; border: 0; }

/* eye catchers */
.info {
    float: right;
    font-size: 12px;
    color: gray;
}

.warning 
{
	color: red;
}

.error 
{
	color: red;
}

strong.highlight 
{
	background-color: #CCE0FF;
	padding: 1pt;
}

#message-box { background-color: #FFD700; PADDING: 0.5em; }
#message-box td { font-size:14px; } 

#message-box .icon-info { background: url('../img/icon-info.gif') left center no-repeat;       padding: 0px; width:16px;}
#message-box .icon-error   { background: url('../img/icon-error.gif') left center no-repeat;   padding: 0px; width:16px;}
#message-box .icon-warning { background: url('../img/icon-warning.gif') left center no-repeat; padding: 0px; width:16px;}
#message-box .icon-comment { background: url('../img/attention.gif') left center no-repeat;    padding: 0px; width:16px;}

#message .hint {font-style: italic;}

#message-box a.clear-link {
    display: block;
    margin: 0.75em 0 0 0;
    font-size: .8em;
}
