/*  msie.css - MoinMoin MS Internet explorer bug workarounds */

/* IE6 and IE7 both suck with :before */
pre.comment       { padding-left: 20px; background: url('../img/attention.png')  left center no-repeat; }
#message .info    { padding-left: 20px; background: url('../img/icon-info.png')  left center no-repeat; }
#message .warning { padding-left: 20px; background: url('../img/alert.png')      left center no-repeat; }
#message .error   { padding-left: 20px; background: url('../img/icon-error.png') left center no-repeat; }

/* Some * html hacks for IE6 and below only (IE7 ignores * html) */

/* IE6 has a bug with rendering of float elements. We workaround this bug by
 * assigning those elements a height attribute because we currently don't know
 * a better solution. This results in IE calculating the correct height of the
 * characters and displaying them correctly. We don't know any negative side
 * effects of this workaround:
 */
* html div.header { height: 1.8em; }

