Source: pysvnmanager
Section: python
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: debhelper (>= 5.0), cdbs (>= 0.4.43), quilt (>= 0.40), python-pybabel | ossxp-python-babel
Build-Depends-Indep: python, python-central (>= 0.5), python-setuptools
Standards-Version: 3.8.0
XS-Python-Version: all
Homepage: http://www.ossxp.com/trac/pysvnmanager

Package: pysvnmanager
Architecture: all
Pre-Depends: python-pylons (>= 0.10~rc1-1), python-docutils, python-pybabel | ossxp-python-babel
Depends: ${misc:Depends}, ${python:Depends}, ossxp-apache2
Recommends: python-subversion, python-ldap, pysvnmanager-doc
XB-Python-Version: ${python:Versions}
Description: subversion administration web interface based on pylons.
 pySvnManager is a subversion web interface based on pylons.

Package: pysvnmanager-doc
Architecture: all
Description: documents for pySvnManager.
 pySvnManager is a subversion web interface based on pylons.
