Source: pysvnmanager
Section: python
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: debhelper (>= 5.0), cdbs (>= 0.4.43), quilt (>= 0.40), python-pybabel | ossxp-python-babel
Build-Depends-Indep: python, python-central (>= 0.5), python-setuptools
Standards-Version: 3.8.0
XS-Python-Version: all
Homepage: http://www.ossxp.com/trac/pysvnmanager

Package: pysvnmanager
Architecture: all
Depends: pysvnmanager-common (= ${binary:Version}), pysvnmanager-deploy-virt (= ${binary:Version}) | pysvnmanager-deploy-sys (= ${binary:Version})
Description: Meta package for pySvnManager.
 pySvnManager is a subversion web interface based on pylons.

Package: pysvnmanager-common
Architecture: all
Depends: python, python-central, ossxp-apache2, libapache2-mod-wsgi
Recommends: rcs, python-subversion, python-ldap, pysvnmanager-doc
Conflicts: pysvnmanager (<= 1:0)
XB-Python-Version: ${python:Versions}
Description: subversion administration web interface based on pylons.
 pySvnManager is a subversion web interface based on pylons.
 This version deployed depends on system's pylons package.

Package: pysvnmanager-deploy-sys
Architecture: all
Pre-Depends: python-pylons (>= 0.10~rc1-1), python-docutils, python-pybabel | ossxp-python-babel
Provides: pysvnmanager-deploy
Depends: pysvnmanager-common, python-sqlalchemy (>= 0.5.7), python (>= 2.6) | python-simplejson
Conflicts: pysvnmanager-deploy
XB-Python-Version: ${python:Versions}
Description: subversion administration web interface based on pylons.
 pySvnManager is a subversion web interface based on pylons.
 This version deployed depends on system's pylons package.

Package: pysvnmanager-deploy-virt
Architecture: all
Pre-Depends: python-virtualenv, python-setuptools
Provides: pysvnmanager-deploy
Depends: pysvnmanager-common
Conflicts: pysvnmanager-deploy
XB-Python-Version: ${python:Versions}
Description: subversion administration web interface based on pylons.
 pySvnManager is a subversion web interface based on pylons.
 For there is no system-wide pylons >= 0.10, install using easy_install using virualenv.

Package: pysvnmanager-doc
Architecture: all
Depends: pysvnmanager-doc-user, pysvnmanager-doc-devel
Description: Meta package for pySvnManager documents.
 pySvnManager is a subversion web interface based on pylons.

Package: pysvnmanager-doc-user
Architecture: all
Conflicts: pysvnmanager-doc (<= 1:0)
Description: pySvnManager document for users and admins.
 pySvnManager is a subversion web interface based on pylons.

Package: pysvnmanager-doc-devel
Architecture: all
Conflicts: pysvnmanager-doc (<= 1:0)
Description: pySvnManager document for developers.
 pySvnManager is a subversion web interface based on pylons.
