#!/usr/bin/make -f

#DEB_PYTHON_SYSTEM=pysupport
DEB_PYTHON_SYSTEM=pycentral

# Debhelper must be included before python-distutils to use
# dh_python / dh_pycentral / dh_pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

##common-build-arch::
build/pysvnmanager::
	python setup.py compile_catalog 

binary-fixup/pysvnmanager::
	chown www-data.www-data debian/pysvnmanager/opt/pysvnmanager/log

# If your package provides eggs, install egg-info directories instead of real eggs
DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

debian/patches/: debian/patches
debian/patches:
	rsync -av --exclude=.hg/ --exclude=.hgignore --exclude=status --delete ../../pysvnmanager/pysvnmanager-ossxp/.hg/patches/ debian/patches
	sed -i -e '/#[-+]/ d' debian/patches/series

.PHONY: debian/patches
# vim: noet sw=4 ts=4
