#!/usr/bin/make -f

#DEB_PYTHON_SYSTEM=pysupport
DEB_PYTHON_SYSTEM=pycentral

# Set init script name to shorewall
DEB_DH_INSTALLINIT_ARGS=--init-script=pysvnmanager

# Debhelper must be included before python-distutils to use
# dh_python / dh_pycentral / dh_pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_PYTHON_DESTDIR=$(CURDIR)/debian/pysvnmanager-common

##common-build-arch::
build/pysvnmanager::
	python setup.py compile_catalog 

binary-fixup/pysvnmanager-common::
	chown www-data.www-data debian/pysvnmanager-common/opt/pysvnmanager/log

build/pysvnmanager-doc::
	make -C $(CURDIR)/debian/doc build

# If your package provides eggs, install egg-info directories instead of real eggs
DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

debian/patches/: debian/patches
debian/patches:
	rm -rf debian/patches
	tg export --all --quilt debian/patches
	cd debian && git status

.PHONY: debian/patches
# vim: noet sw=4 ts=4
